.list {
  display: flex;
  flex-direction: column;


  &__tickets {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 20px;
  }

  &__button {
    height: 50px;
    border: 0px;
    border-radius: 5px;
    color: white;
    background-color: rgba(33, 150, 243, 1);
    text-transform: uppercase;
    cursor: pointer;
  }
}
